/*For using variables you need to write 'var(--variableName)', for example, 'color: var(--red)'*/

:root {
    --grey: rgba(196,196,196,1.0);
    --orange: #ed721a;
    --red: #a1191bff;
    --white: #f3f4efff;
    --black: #3b3e47ff;
    --brown: #b5938aff;
}
